

div.head {
	background-color: yellow;
}

div.middle {
	background-color: green;
	height: 600px; 
}

div.status {
	background-color: blue;
}

div.resource {
	float: left;
	width: 25%; 
	height: 100%; 
	background-color: red;
}

div.action {
	float: left;
	width: 50%; 
	height: 100%; 
	background-color: purple;
}

div.log {
	float: right;
	width: 25%; 
	height: 100%; 
	background-color: Gray;
}

div.button_press {
	position: relative;
	left: 20px;
	top: 20px;
	width:150px; 
 	height:60px;
    text-align: center;
    line-height: 60px;

    color: #ffffff;
    text-shadow: -2px 2px #346392;
    
	background-color: #6496c8;
	border: none;
	border-radius: 8px;
	box-shadow: 2px 5px #27496d;
}

div.button_press:hover,
div.button_press.hover {
	background-color: #417cb8
}

div.button_press:active,
div.button_press.active {
	background-color: #417cb8;
	box-shadow: 0 0px #27496d;
	transform: translateY(5px);
}